<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Добавить новость</title>
    <script src="https://cdn.tiny.cloud/1/ejv20a41jx2g3shxldmsqmh8lshbmdnye28zgw2kjv1ssq3j/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#description',
            plugins: 'link image code',
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright | code'
        });
    </script>
</head>
<body>
<div class="container container-padding" layout:fragment="content">
    <div class="row col-md-8 offset-md-2">
        <div th:if="${validationErrors != null}" class="p-3 mb-2 bg-danger bg-gradient text-white">
            <p class="h1">Обнаружены ошибки
            <ul>
                <li th:each="error : ${validationErrors}"
                    th:text="${error}"></li>
            </ul>
            </p>
        </div>
        <div class="card p-0">
            <div class="card-header">
                <h2 class="text-center">Создание новости</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" class="form-horizontal"
                      th:action="@{'/news/' + ${id != null ? id : ''}}" th:object="${news}"
                      enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <label for="title" class="form-label required">Заголовок</label>
                        <input type="text"
                               id="title"
                               class="form-control"
                               th:field="*{title}"
                               placeholder="Введите заголовок новости"
                               minlength="1"
                               maxlength="512"
                               required
                        />
                        <p th:errors="*{title}" class="text-danger"
                           th:if="${#fields.hasErrors('title')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="description" class="form-label required">Описание</label>
                        <textarea id="description"
                                  class="form-control"
                                  th:field="*{description}"
                                  placeholder="Введите описание новости"
                        ></textarea>
                        <p th:errors="*{description}" class="text-danger"
                           th:if="${#fields.hasErrors('description')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label for="image" class="form-label">Изображение</label>
                        <input type="file"
                               id="image"
                               class="form-control"
                               th:field="*{image}"
                               placeholder="Введите описание новости"
                               accept="image/png, image/jpeg"
                        />
                        <p th:errors="*{image}" class="text-danger"
                           th:if="${#fields.hasErrors('image')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label required"
                               for="category">
                            Тип новости
                        </label>
                        <select class="form-select"
                                id="category"
                                th:field="*{category}"
                                onchange="toggleDatetimeInputs()"
                                required>
                            <option th:each="kind : ${categories}"
                                    th:value="${kind}"
                                    th:selected="*{category} == ${kind}"
                                    th:text="${kind.displayName}">
                            </option>
                        </select>
                        <p th:errors="*{category}" class="text-danger"
                           th:if="${#fields.hasErrors('category')}">
                        </p>
                    </div>
                    <div id="datetimeInputs" style="display:none;" class="form-group mb-3">
                        <label class="form-label" for="expiresAt">Дата окончания</label>
                        <input type="datetime-local"
                               class="form-control"
                               id="expiresAt"
                               th:field="*{expiresAt}"
                               placeholder="Дата окончания"
                        />
                        <p th:errors="*{expiresAt}" class="text-danger"
                           th:if="${#fields.hasErrors('expiresAt')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label required"
                               for="houseId">
                            К кому относится данная новость?
                        </label>
                        <select class="form-select"
                                id="houseId"
                                th:field="*{houseId}"
                                required>
                            <option th:each="house : ${houses}"
                                    th:value="${house.id}"
                                    th:selected="*{houseId} == ${house.id}"
                                    th:text="${house.address}">
                            </option>
                        </select>
                        <p th:errors="*{houseId}" class="text-danger"
                           th:if="${#fields.hasErrors('houseId')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <button class="btn btn-primary"
                                type="submit"
                                th:text="${id != null ? 'Обновить' : 'Добавить'}"></button>
                        <a th:if="${id != null}" th:href="@{('/news/' + ${id})}">
                            <input type="button" class="btn btn-secondary" value="Отменить"/>
                        </a>
                        <a th:if="${id == null}" th:href="@{/news}">
                            <input type="button" class="btn btn-secondary" value="Отменить"/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script layout:fragment="scripts">
        function toggleDatetimeInputs() {
            const selection = document.getElementById('category').value;
            const datetimeInputs = document.getElementById('datetimeInputs');
            if (selection === 'BREAKING') {
                datetimeInputs.style.display = 'block';
            } else {
                datetimeInputs.style.display = 'none';
            }
        }

        window.onload = function () {
            toggleDatetimeInputs();
        }
    </script>
</div>
</body>
</html>