<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <div class="container" layout:fragment="content">
        <div class="alert alert-danger">
            <h1>Произошла ошибка</h1>
            <p>Кажется, возникла проблема с запрошенной вами страницей.
                (<span th:text="${path}"></span>).</p>
            <p th:text="${'Код ошибки: ' + status + ', это означает, что ' + error + '.'}"></p>
            <p th:text="${'Подробная информация: ' + message + '.'}"></p>
        </div>
        <a class="btn" th:href="${returnUrl}">Назад</a>
    </div>
</html>