<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Избранное</title>
    <style>
        .card-img-top {
            max-width: 100%; /* Ограничение ширины до ширины контейнера */
            max-height: 400px; /* Ограничение высоты до 300 пикселей */
            display: block; /* Устанавливаем блочный элемент */
            margin: 0 auto; /* Выравниваем по центру */
            object-fit: scale-down;
        }
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container container-padding" layout:fragment="content">
    <div class="row">
        <h1>Избранное</h1>
    </div>
    <div th:if="${newsList.getTotalElements() != 0}">
        <div class="row">
            <div class="card" th:each="news : ${newsList}" style="margin-bottom: 20px">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    <p class="h2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" >[[${news.title}]]</p>
                    <div th:attr="data-id=${news.id}" onclick="addToFavorites(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                        </svg>
                    </div>
                </h5>
                <div class="card-body">
                    <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"  th:utext="${news.description}"></p>
                    <div th:if="${news.imageUrl != null}">
                        <img th:src="@{/news/images/{imageName}(imageName=${news.imageUrl})}" class="card-img-top" alt="News Image">
                    </div>
                    <div>
                        <button role="button" class="btn btn-primary" th:attr="data-id=${news.id}" onclick="openShareModal(this)">Поделиться</button>
                        <!-- Modal -->
                        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Поделиться новостью</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form id="shareForm">
                                            <div class="form-group">
                                                <label for="destinationId">Выберите получателя</label>
                                                <select class="form-control" th:attr="data-id=${news.id}" id="destinationId" name="destinationId">
                                                </select>
                                            </div>
                                            <input type="hidden" id="newsId" name="newsId" th:value="${news.id}">
                                            <input type="hidden" id="senderId" name="senderId" th:value="${userId}">
                                            <button type="button" class="btn btn-primary" onclick="sendNews()">Отправить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button role="button" class="btn btn-primary" th:attr="data-id=${news.id}" onclick="copyToClipboard(this)">Скопировать ссылку</button>
                        <div class="dropdown" id="menu">
                            <button role="button" class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Установить напоминание
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="60000" >1 минута</a></li>
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="900000">15 минут</a></li>
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="1800000">30 минут</a></li>
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="3600000">1 час</a></li>
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="7200000">2 часа</a></li>
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="28800000">8 часов</a></li>
                                <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="86400000">1 день</a></li>
                            </ul>
                        </div>
                        <a class="btn btn-outline-secondary" th:href="@{'/news/' + ${news.id}}" role="button">
                            Подробности
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${newsList.isFirst()} ? 'disabled' : ''">
                        <a class="page-link"
                           th:href="@{/news/breakings(size=${newsList.getSize()},page=0)}">&lt;&lt;</a>
                    </li>
                    <li class="page-item" th:classappend="${newsList.hasPrevious()} ? '' : 'disabled'">
                        <a th:if="${newsList.hasPrevious()}"
                           class="page-link"
                           th:href="@{/news/breakings(size=${newsList.getSize()},page=${newsList.getNumber() - 1})}"
                           th:text="${(currentPage)}"></a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link"
                           th:href="@{/news/breakings(size=${newsList.getSize()},page=${newsList.getNumber()})}"
                           th:text="${currentPage + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${newsList.hasNext() ? '' : 'disabled'}">
                        <a th:if="${newsList.hasNext()}"
                           class="page-link"
                           th:href="@{/news/breakings(size=${newsList.getSize()},page=${newsList.getNumber() + 1})}"
                           th:text="${(currentPage + 2)}"></a>
                    </li>
                    <li class="page-item" th:classappend="${newsList.isLast()} ? 'disabled' : ''">
                        <a class="page-link"
                           th:href="@{/news/breakings(size=${newsList.getSize()},page=${newsList.getTotalPages() - 1})}">&gt;&gt;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:unless="${newsList.getTotalElements() != 0}">
        <div class="row">
            <h1 class="text-center">Пока что важных новостей нет.</h1>
        </div>
    </div>
    <script layout:fragment="scripts">
        var favorites = {
            false: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
</svg>`,
            true: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
  <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
</svg>`
        }

        function addToFavorites(button) {
            const newsId = button.getAttribute('data-id');
            fetch(`/news/favorite/${newsId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.favourite === "true")
                        button.innerHTML = favorites.true;
                    else
                        button.innerHTML = favorites.false;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function openShareModal(button) {
            var newsId = $(button).data('id');
            $('#newsId').val(newsId);
            $.ajax({
                url: '/users/list/' + newsId + '?userId=' + '[[${userId}]]',
                method: 'GET',
                success: function (data) {
                    var recipientSelect = $('#destinationId');
                    recipientSelect.empty();
                    data.forEach(function (user) {
                        recipientSelect.append(new Option(user.username, user.id));
                    });
                    $('#shareModal').modal('show');
                }
            });
        }

        function sendNews() {
            var formData = $('#shareForm').serialize();

            $.ajax({
                url: '/messages/send',
                method: 'POST',
                data: formData,
                success: function () {
                    $('#shareModal').modal('hide');
                    alert('Новость успешно отправлена!');
                }
            });
        }

        $(document).ready(function () {
            $("#menu .dropdown-item").click(function () {
                var delay = $(this).data("value");
                var newsId = $(this).data("id");
                setReminder(delay, newsId);
            });
        });

        function setReminder(delay, newsId) {
            $.ajax({
                url: '/setReminder',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({username: '[[${#authentication.name}]]', delay: delay, newsId: newsId}), // заменить на реального пользователя
                success: function (response) {
                    toastr.info(response);
                }
            });
        }
        function copyToClipboard(button) {
            var newsId = $(button).data('id');
            var link = 'http://localhost/news/' + newsId;
            var tempInput = document.createElement("input");
            tempInput.style.position = "absolute";
            tempInput.style.left = "-9999px";
            tempInput.value = link;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
            toastr.info(`Ссылка на новость скопирована в буфер обмена.`);
        }
    </script>
</div>
</body>
</html>