<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <head>
        <title>Главная страница</title>

        <style>
            .card-img-top {
                max-width: 100%; /* Ограничение ширины до ширины контейнера */
                max-height: 400px; /* Ограничение высоты до 300 пикселей */
                display: block; /* Устанавливаем блочный элемент */
                margin: 0 auto; /* Выравниваем по центру */
                object-fit: scale-down;
            }

            /* The container <div> - needed to position the dropdown content */
            .dropdown {
                position: relative;
                display: inline-block;
            }

            /* Dropdown Content (Hidden by Default) */
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {background-color: #ddd;}

            /* Show the dropdown menu on hover */
            .dropdown:hover .dropdown-content {display: block;}
            .news-title-alert {
                display: flex;
                align-items: center;
            }

            .news-title-alert .alert {
                margin-left: 10px; /* Расстояние между заголовком и алертом */
            }
        </style>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <h1>Настройка отображения новостей</h1>
            <form th:action="@{/updateSettings}" method="post">
                <div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group" style="gap: 5px;">
                    <input type="checkbox" name="displayAllNews" th:checked="${settings.displayAllNews}" class="btn-check" id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck1">Отображать все новости</label>

                    <input type="checkbox" name="displayBreakingNews" th:checked="${settings.displayBreakingNews}" class="btn-check" id="btncheck2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck2">Отображать срочные новости</label>

                    <input type="checkbox" name="displayNotifications" th:checked="${settings.displayNotifications}" class="btn-check" id="btncheck3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btncheck3">Отображать уведомления</label>
                </div>
                <button class="btn btn-primary" type="submit">Сохранить настройки</button>
            </form>
            <div th:if="${settings.displayAllNews}">
                <h3>Список последних новостей</h3>
                <div th:if="${newsList.getTotalElements() != 0}">
                    <div class="row">
                        <div class="card" th:each="news : ${newsList}" style="margin-bottom: 20px">
                            <h5 class="card-header d-flex justify-content-between align-items-center">
                                <p class="h2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" >[[${news.title}]] <span th:if="${news.category.name() != 'GENERAL'}" class="badge bg-danger">[[${news.category.displayName}]]</span></p>
                                <div th:attr="data-id=${news.id}" onclick="addToFavorites(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                    </svg>
                                </div>
                            </h5>
                            <div class="card-body">
                                <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"  th:utext="${news.description}"></p>
                                <div th:if="${news.imageUrl != null}">
                                    <img th:src="@{/news/images/{imageName}(imageName=${news.imageUrl})}" class="card-img-top" alt="News Image">
                                </div>
                                <div>
                                    <form method="post" th:action="@{/news/hide/{id}(id=${news.id})}">
                                        <button role="button" class="btn btn-primary">Скрыть</button>
                                    </form>
                                    <button role="button" class="btn btn-primary" th:attr="data-id=${news.id}" onclick="openShareModal(this)">Поделиться</button>
                                    <!-- Modal -->
                                    <button role="button" class="btn btn-primary" th:attr="data-id=${news.id}" onclick="copyToClipboard(this)">Скопировать ссылку</button>
                                    <div class="dropdown">
                                        <button role="button" class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Установить напоминание
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="60000" >1 минута</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="900000">15 минут</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="1800000">30 минут</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="3600000">1 час</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="7200000">2 часа</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="28800000">8 часов</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="86400000">1 день</a></li>
                                        </ul>
                                    </div>
                                    <a class="btn btn-outline-secondary" th:href="@{'/news/' + ${news.id}}" role="button">
                                        Подробности
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${newsList.getTotalElements() != 0}">
                    <div class="row">
                        <h1 class="text-center">Ничего не найдено</h1>
                    </div>
                </div>
            </div>
            <div th:if="${settings.displayBreakingNews}">
                <h3>Список срочных новостей</h3>
                <div th:if="${breakingNewsList.getTotalElements() != 0}">
                    <div class="row">
                        <div class="card" th:each="news : ${breakingNewsList}" style="margin-bottom: 20px">
                            <h5 class="card-header d-flex justify-content-between align-items-center">
                                <p class="h2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" >[[${news.title}]] <span th:if="${news.category.name() != 'GENERAL'}" class="badge bg-danger">[[${news.category.displayName}]]</span></p>
                                <div th:attr="data-id=${news.id}" onclick="addToFavorites(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-bookmark" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                                    </svg>
                                </div>
                            </h5>
                            <div class="card-body">
                                <p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"  th:utext="${news.description}"></p>
                                <div th:if="${news.imageUrl != null}">
                                    <img th:src="@{/news/images/{imageName}(imageName=${news.imageUrl})}" class="card-img-top" alt="News Image">
                                </div>
                                <div>
                                    <form method="post" th:action="@{/news/hide/{id}(id=${news.id})}">
                                        <button role="button" class="btn btn-primary">Скрыть</button>
                                    </form>
                                    <button role="button" class="btn btn-primary" th:attr="data-id=${news.id}" onclick="openShareModal(this)">Поделиться</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Поделиться новостью</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="shareForm">
                                                        <div class="form-group">
                                                            <label for="destinationId">Выберите получателя</label>
                                                            <select class="form-control" id="destinationId" name="destinationId">
                                                            </select>
                                                        </div>
                                                        <input type="hidden" id="newsId" name="newsId" th:value="${news.id}">
                                                        <input type="hidden" id="senderId" name="senderId" th:value="${userId}">
                                                        <button type="button" class="btn btn-primary" onclick="sendNews()">Отправить</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button role="button" class="btn btn-primary" th:attr="data-id=${news.id}" onclick="copyToClipboard(this)">Скопировать ссылку</button>
                                    <div class="dropdown">
                                        <button role="button" class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Установить напоминание
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="60000" >1 минута</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="900000">15 минут</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="1800000">30 минут</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="3600000">1 час</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="7200000">2 часа</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="28800000">8 часов</a></li>
                                            <li><a class="dropdown-item" th:attr="data-id=${news.id}" href="#" data-value="86400000">1 день</a></li>
                                        </ul>
                                    </div>
                                    <a class="btn btn-outline-secondary" th:href="@{'/news/' + ${news.id}}" role="button">
                                        Подробности
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${newsList.getTotalElements() != 0}">
                    <div class="row">
                        <h1 class="text-center">Ничего не найдено</h1>
                    </div>
                </div>
            </div>
            <div th:if="${settings.displayNotifications}">
                <h3>Список уведомлений</h3>
                <div th:if="${notificationList.getTotalElements() != 0}">
                    <div class="row">
                        <div class="card" th:each="notification : ${notificationList}" style="margin-bottom: 20px">
                            <h5 class="card-header d-flex justify-content-between align-items-center">
                                <p class="h2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                                    [[${notification.title}]] <span th:if="${notification.category.name() != 'GENERAL'}"
                                                                    class="badge bg-danger">[[${notification.category.displayName}]]</span>
                                </p>
                                <div class="d-flex">
                                    <form method="post" th:if="${notification.isRead == false}"
                                          th:action="@{'/notifications/read/' + ${notification.newsId}}">
                                        <button type="submit" class="btn btn-info">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                            </svg>
                                            Прочитать
                                        </button>
                                    </form>
                                    <form method="post" th:action="@{'/notifications/remove/' + ${notification.newsId}}">
                                        <button type="submit" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                            Удалить
                                        </button>
                                    </form>
                                </div>
                            </h5>
                            <div class="card-body">
                                <div class="row">
                                    Дата публикации: [[${#temporals.format(notification.createdAt, 'HH:mm:ss dd MMMM yyyy г.')}]]
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${notificationList.getTotalElements() != 0}">
                    <div class="row">
                        <h1 class="text-center">Пока что уведомлений нет.</h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>