<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<div class="container" layout:fragment="content">
    <div class="row col-md-8 offset-md-2">
        <div class="row text-center">
            <h1>Профиль</h1>
        </div>
        <div class="card">
            <div class="card-header"><h2 th:text="${user.username + ' (' + (user.role.name() == 'MODERATOR' ? 'Модератор' : 'Пользователь') + ')'}"></h2>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${user.email}"></h5>
                <p class="card-text" th:text="${'Дом: ' + user.house.address}"></p>
            </div>
            <div class="card-footer text-body-secondary" th:if="isUser">
                <a th:href="@{/me/edit}" class="btn btn-primary">Редактировать</a>
                <a class="btn btn-outline-success" th:if="${isUser && !user.twoFactorEnabled}" th:href="@{/enable-2fa}"
                   role="button">Включить двухфакторную аутентификацию.</a>
                <a class="btn btn-outline-danger" th:if="${isUser && user.twoFactorEnabled}" th:href="@{/disable-2fa}"
                   role="button">Отключить двухфакторную аутентификацию.</a>
            </div>
        </div>
    </div>
</div>
</html>