<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Важные новости</title>
</head>
<body>
<div class="container container-padding" layout:fragment="content">
    <div class="row">
        <h1>Мои сообщения</h1>
    </div>
    <div th:if="${messages.getTotalElements() != 0}">
        <div class="row">
            <div class="card" th:each="message : ${messages}" style="margin-bottom: 20px">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    <p class="h2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" >[[${message.username}]] предложил вам посмотреть <a th:href="@{/news/{id}(id=${message.newsId})}">[[${message.title}]]</a></p>
                </h5>
                <div class="card-body">
                    <div class="row">
                        Дата: [[${#temporals.format(message.createdAt, 'HH:mm:ss dd MMMM yyyy г.')}]]
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${messages.isFirst()} ? 'disabled' : ''">
                        <a class="page-link"
                           th:href="@{/messages(size=${messages.getSize()},page=0)}">&lt;&lt;</a>
                    </li>
                    <li class="page-item" th:classappend="${messages.hasPrevious()} ? '' : 'disabled'">
                        <a th:if="${messages.hasPrevious()}"
                           class="page-link"
                           th:href="@{/messages(size=${messages.getSize()},page=${messages.getNumber() - 1})}"
                           th:text="${(currentPage)}"></a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link"
                           th:href="@{/messages(size=${messages.getSize()},page=${messages.getNumber()})}"
                           th:text="${currentPage + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${messages.hasNext() ? '' : 'disabled'}">
                        <a th:if="${messages.hasNext()}"
                           class="page-link"
                           th:href="@{/messages(size=${messages.getSize()},page=${messages.getNumber() + 1})}"
                           th:text="${(currentPage + 2)}"></a>
                    </li>
                    <li class="page-item" th:classappend="${messages.isLast()} ? 'disabled' : ''">
                        <a class="page-link"
                           th:href="@{/messages(size=${messages.getSize()},page=${messages.getTotalPages() - 1})}">&gt;&gt;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:unless="${messages.getTotalElements() != 0}">
        <div class="row">
            <h1 class="text-center">Пока что нет ни одного сообщения.</h1>
        </div>
    </div>
</div>
</body>
</html>