<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<div class="container container-padding" layout:fragment="content">
    <div class="row">
        <h1>Мои уведомления</h1>
    </div>
    <div th:if="${notifications.getTotalElements() != 0}">
        <div class="row">
            <div class="card" th:each="notification : ${notifications}" style="margin-bottom: 20px">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    <p class="h2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                        [[${notification.title}]] <span th:if="${notification.category.name() != 'GENERAL'}"
                                                        class="badge bg-danger">[[${notification.category.displayName}]]</span>
                    </p>
                    <div class="d-flex">
                        <form method="post" th:if="${notification.isRead == false}"
                              th:action="@{'/notifications/read/' + ${notification.newsId}}">
                            <button type="submit" class="btn btn-info">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                                Прочитать
                            </button>
                        </form>
                        <form method="post" th:action="@{'/notifications/remove/' + ${notification.newsId}}">
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                                Удалить
                            </button>
                        </form>
                    </div>
                </h5>
                <div class="card-body">
                    <div class="row">
                        Дата публикации: [[${#temporals.format(notification.createdAt, 'HH:mm:ss dd MMMM yyyy г.')}]]
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${notifications.isFirst()} ? 'disabled' : ''">
                        <a class="page-link"
                           th:href="@{/news/breakings(size=${notifications.getSize()},page=0)}">&lt;&lt;</a>
                    </li>
                    <li class="page-item" th:classappend="${notifications.hasPrevious()} ? '' : 'disabled'">
                        <a th:if="${notifications.hasPrevious()}"
                           class="page-link"
                           th:href="@{/news/breakings(size=${notifications.getSize()},page=${notifications.getNumber() - 1})}"
                           th:text="${(currentPage)}"></a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link"
                           th:href="@{/news/breakings(size=${notifications.getSize()},page=${notifications.getNumber()})}"
                           th:text="${currentPage + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${notifications.hasNext() ? '' : 'disabled'}">
                        <a th:if="${notifications.hasNext()}"
                           class="page-link"
                           th:href="@{/news/breakings(size=${notifications.getSize()},page=${notifications.getNumber() + 1})}"
                           th:text="${(currentPage + 2)}"></a>
                    </li>
                    <li class="page-item" th:classappend="${notifications.isLast()} ? 'disabled' : ''">
                        <a class="page-link"
                           th:href="@{/news/breakings(size=${notifications.getSize()},page=${notifications.getTotalPages() - 1})}">&gt;&gt;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:unless="${notifications.getTotalElements() != 0}">
        <div class="row">
            <h1 class="text-center">Пока что уведомлений нет.</h1>
        </div>
    </div>
</div>
</html>